{% if tasks|length >= 1 %}

    <table>
    <tr>
    	<th> Usuario </th> 	

    	<th> Tarea </th> 	
    	<th> Prioridad </th>
    	<th> Horas presupuestadas </th>
    	<th> Acciones </th>
    	<th> Estado </th>

    </tr>

{% for task in tasks %}

	<tr>
		<td>
		{% for user in users %}

		{% if user.id ==  task.user_id %}
		 {{ user.email }}
		 {% endif%}

		{% endfor %}	
		  </td>

		<td> {{ task.title }} </td>
		<td>

		{% if task.priority == 'high' %}
		 {{ '**ALTA**' }}
		 {% endif%}
		{% if task.priority == 'medium' %}
		 {{ 'Mediana' }}
		 {% endif%}


		 {% if task.priority == 'low' %}
		 {{ 'baja' }}
		 {% endif%}
		  </td>
		<td> {{ task.hours }} </td>
		<td class="buttons">
		<a href="{{ path('task_detail', {'id':task.id})  }}" class="btn-show">Ver</a>
				{% if task.user.id == app.user.id%}

		<a href="{{ path('task_edit', {'id':task.id})  }}" class="btn-edit">Editar</a>
				{%endif%}

		{% if task.user.id == app.user.id%}
		<a href="{{ path('task_delete', {'id':task.id})  }}" class="btn-delete">Eliminar </a>
		{%endif%}
				<td> 
				
		{% if task.estado == 1 %}
		 {{ 'Estudiando' }}
		 {% endif%}
		{% if task.estado == 2 %}
		 {{ 'Empezando' }}
		 {% endif%}


		 {% if task.estado == 3 %}
		 {{ 'A medias' }}
		 {% endif%}
			 {% if task.estado == 4 %}
		 {{ 'Acabando' }}
		 {% endif%}			
			 {% if task.estado == 5 %}
		 {{ '🥇FINALIZADO' }}
		 {% endif%}				
				</td>

	</tr>
{% endfor %}


    </table>
{% else %}
<strong> NO HAY TAREAS DISPONIBLES </strong>

{% endif %}